html{}

body{
  margin: 0;
  position: relative;
  background-color: #DFD0A4;
}

header{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  /*background-color: #DFD0A4;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2eeb3;
  border-bottom: solid 1px #59323C;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.25);
}

header > p:first-child{
  font-size: 26px;
}

header > p{
  margin: 10px;
}

article {
  margin: 0 250px;
}

section{
  background-color: #f2eeb3;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.25);
  margin: 10px 0px 10px 0px;
  padding: 20px;
}

section > h2{
  margin: 0px;
}
