.main-page.object-details > header > .image-wrapper {
    display: flex;
    justify-content: center;
}

.main-page.object-details > header > .image-wrapper > .object-image {
    max-width: 400px;
    max-height: 400px;
    border-radius: 3px;
    overflow: hidden;
    background-color: antiquewhite;
}

.main-page.object-details > header > .image-wrapper > .object-image  img{
	width: inherit;
    height: auto;
}

.main-page.object-details > header > .object-title{
	margin: 10px 0px 10px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.main-page.object-details > header .report{
  margin: 0px 0px 10px 20px;

}

.main-page.object-details > header .favourite{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 10px 10px;
}

.main-page.object-details > header .favourite > .-star > svg{
  fill: #F0E42C;
}

.main-page.object-details > header .new-bid{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.main-page.object-details > header .new-bid .price{
	margin-right: 20px;
}

.main-page.object-details > header .new-bid .input{
	width: 200px;
  margin-right: 10px;
}

.main-page.object-details > .object-content{
  width: 100%;
}

.main-page.object-details > .object-content > .description{
  margin: 30px;
}

.main-page.object-details > .object-content > .object-dates{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.main-page.object-details > .object-content > .object-dates > .column > .item{
    margin: 5px;
    padding-bottom: 3px;
    border-bottom: solid 1px;
}

.reported {
    font-size: 24px;
    text-align: center;
    color: red;
}

.announcement{
    text-align: center;
}
