.login-page {
  min-height: 100%;
  width: 100%;
  background-color: #DFD0A4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #59323C;
  font-size: 18px;
  line-height: 27px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  cursor: default;
}

.login-page > .app-content{
}

.login-page > .app-content > .app-title{
  font-size: 50px;
  line-height: 75px;
  text-align: center;
  margin-bottom: 50px;
}

.login-page > .app-content > #app-body{
  display: flex;
  margin: 0 auto;
  width: 80%;
}

.login-page > .app-content > #app-body > .testimonials{
  margin-left: 30px;
}

.login-page > .app-content > #app-body > .testimonials > .testimonial{
  display: flex;
  border: solid 1px transparent;
  padding: 10px;
  border-radius: 3px;
  transition: box-shadow .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;
}

.login-page > .app-content > #app-body > .testimonials > .testimonial:hover {
  color: #260126;
  border-color: #260126;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.25);
}

.login-page > .app-content > #app-body > .testimonials > .testimonial:nth-child(even) {
  flex-direction: row-reverse;
}

.login-page > .app-content > #app-body > .testimonials > .testimonial > .icon{
  width: 100px;
  height: 100px;
  min-width: 100px;
  fill: #59323C;
  transition: fill .3s ease-in-out;
}
.login-page > .app-content > #app-body > .testimonials > .testimonial:hover > .icon {
  fill: #260126;
}

.login-page > .app-content > #app-body > .testimonials > .testimonial > .quotes{
  quotes: """ """ "<<" ">>";
}

.form{
  width: 350px;
  min-width: 350px;
  background-color: #f2eeb3;
  border-radius: 3px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.25);
}

.form > .box{
  padding: 30px 20px;
  border-top: solid 1px #8C6954;
}

.form > .box > *{
  width: 100%;
  margin-top: 20px;
}

.form > .box > *:first-child{
  margin-top: 0px;
}

.form > .box:first-child{
  border-width: 0px;
}

.form > .box.title{
  font-size: 22px;
  font-weight: 600;
  padding: 20px;
}
