.main-page{
  min-height: 100%;
  width: 100%;
  background-color: #DFD0A4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #59323C;
  font-size: 18px;
  line-height: 27px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  cursor: default;
}

.main-page .middle{
  width: 100%;
  display: flex;
  min-height: 69vh;
}

.main-page > header {
  position: relative;
  width: 100%;
  background-color: #f2eeb3;
  border-bottom: solid 1px #59323C;
  margin-bottom: 20px;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.25);
}

.main-page > header .title{
  text-align: center;
  font-size: 28px;
  line-height: 42px;
}

.main-page > header .signout{
  position: absolute;
  display: flex;
  right: 20px;
  top: 5px;
  font-size: 16px;
}
.main-page > header .signout > form{
  margin-left: 10px;
}

.main-page .search-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 10px 0 10px 0;
}
.main-page .search-bar .button:last-child{
  margin-left: 10px;
}

.main-page .middle > aside{
  width: 20%;
  min-width: 270px;
  border: solid 1px #59323C;
  box-shadow: 0 8px 26px 0 rgba(0, 0, 0, 0.25);
  background-color: #f2eeb3;
  margin-bottom: 20px;
  padding: 10px;
}

.main-page .middle > aside > .title{
  text-align: center;
  font-size: 22px;
  line-height: 33px;
  font-weight: bold;
}

.main-page .middle > aside .filter .button{
  margin-top: 30px;
}

.main-page .middle > aside .filter{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.main-page .middle > aside .filter > .set-price{
  display: flex;
}

.main-page .middle > aside .filter > .set-price .input{
  width: 75px;
  margin: 0 5px 0 5px;
}

.main-page .middle > section{
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-page footer{
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-top: solid 1px #59323C;
  padding: 10px;
  background-color: #f2eeb3;
}

.main-page footer > .column{
  display: flex;
  flex-direction: column;
}

.main-page footer > .column > .title{
  text-decoration: underline;
}

.main-page footer > .column > a{
  text-decoration: none;
  color: #AD5E3C;
}
