.button{
  padding: 0 20px 0px 20px;
  border-radius: 3px;
  border: solid 1px;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border .3s ease-in-out, box-shadow .3s ease-in-out;
  outline: none;
  cursor: pointer;
}

.button:hover{
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.25);
}

.button.-standard{
  color: #59323C;
  border-color: #59323C;
  background-color: transparent;
  fill: #59323C;
}

.button.-standard[disabled]{
  color: #8F888A;
  border-color: #59323C;
  background-color: transparent;
  fill: #8F888A;
  border-color: #8F888A;
}

.button.-standard[disabled]:hover{
  color: #8F888A;
  border-color: #59323C;
  fill: #8F888A;
  border-color: #8F888A;
  box-shadow: none;
}

.button.-standard:hover{
  color: #59323C;
  border-color: #59323C;
  border-color: transparent;
  fill: #59323C;
}

.button.-standard:active{
  color: #260126;
  border-color: #59323C;
  border-color: transparent;
  fill: #260126;
}

.button.-auctiox{
  color: #f2eeb3;
  border-color: #59323C;
  background-color: #59323C;
  fill: #f2eeb3;
}

.button.-auctiox[disabled],
.button.-auctiox[disabled]:hover,
.button.-auctiox[disabled]:active{
  color: #f2eeb3;
  fill: #f2eeb3;
  border-color: #8F888A;
  background-color: #8F888A;
  box-shadow: none;
}

.button.-auctiox:hover{
  color: #f2eeb3;
  border-color: #59323C;
  background-color: #59323C;
  fill:  #f2eeb3;
}

.button.-auctiox:active{
  color: #f2eeb3;
  border-color: #260126;
  background-color: #260126;
  fill: #f2eeb3;
}

.button.-icon{
  padding: 0px;
}

.button.-icon .icon{
  height: 30px;
  width: 30px;
  padding: 3px;
}

.button.-small{
  height: 32px;
  font-size: 14px;
  line-height: 21px;
}

.button.-medium{
  height: 36px;
  font-size: 16px;
  line-height: 24px;
}

.button.-big{
  height: 42px;
  font-size: 18px;
  line-height: 27px;
}
