.input{
  width: 100%;
  padding: 0 10px;
  border: solid 1px;
  border-radius: 3px;
  outline: none;
  background-color: #F5F3D2;
  transition: box-shadow .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #59323C;
   opacity: .6;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #59323C;
   opacity: .6;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #59323C;
   opacity: .6;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #59323C;
   opacity: .6;
}

.input.-standard{
  color: #59323C;
  border-color: #59323C;
}

.input.-standard[disabled]{
  color: #8F888A;
  border-color: #8F888A;
}

.input.-standard:focus{
  color: #260126;
  border-color: #260126;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.25);
}

.input.-small{
  height: 32px;
  font-size: 14px;
  line-height: 21px;
}

.input.-medium{
  height: 36px;
  font-size: 16px;
  line-height: 24px;
}

.input.-big{
  height: 42px;
  font-size: 18px;
  line-height: 27px;
}
