.search{
  width: 100%;
  border: solid 1px;
  border-radius: 3px;
  outline: none;
  background-color: #F5F3D2;
  transition: box-shadow .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;
  display: flex;
}

.search input{
  width: 100%;
  line-height: inherit;
  border-radius: inherit;
  color:inherit;
  background-color: inherit;
  padding: 0 10px;
  border: 0px;
  outline: none;
}

.search .icon{
  width: 32px;
  height: 32px;
  fill: #59323C;
  padding: 5px;
  transition: fill .3s ease-in-out;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #59323C;
   opacity: .6;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #59323C;
   opacity: .6;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #59323C;
   opacity: .6;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #59323C;
   opacity: .6;
}

.search.-standard{
  color: #59323C;
  border-color: #59323C;
}

.search.-standard:focus{
  color: #260126;
  border-color: #260126;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.25);
}

.search.-small{
  height: 32px;
  font-size: 14px;
  line-height: 21px;
}

.search.-medium{
  height: 36px;
  font-size: 16px;
  line-height: 24px;
}

.search.-big{
  height: 42px;
  font-size: 18px;
  line-height: 27px;
}
