* {
  box-sizing: border-box;
}

html,
body{
  margin: 0;
  height: 100%;
}

.error{
  color: #EC6411;
}

.objects-list {
  min-width: 500px;
  /*width: 80%;*/
}

.objects-list > .object{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px transparent;
  padding: 10px;
  border-radius: 3px;
  transition: box-shadow .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out, background-color .3s ease-in-out;
  border: solid 1px #59323C;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.objects-list > .object:hover{
  color: #260126;
  border-color: #260126;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.25);
  background-color: #f2eeb3;
}

.objects-list > .object > .left {
  display: flex;
}

.objects-list > .object > .left > .img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border-radius: 3px;
  overflow: hidden;
  background-color: antiquewhite;
}

.objects-list > .object > .left > .img > img{
  width: inherit;
  height: auto;
}

.objects-list > .object > .left > .details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.objects-list > .object > .left > .details > .up,
.objects-list > .object > .left > .details > .down {
  display: flex;
}

.objects-list > .object > .left > .details > .up > div,
.objects-list > .object > .left > .details > .down > div{
  margin: 0 5px;
}

.objects-list > .object > .right > .price{
  font-size: 22px;
}
