.main-page.stats-page > header > .user-name{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}

.main-page.stats-page > .user-stats{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.main-page.stats-page > .user-stats > .column > .item{
    margin: 5px;
    padding-bottom: 3px;
    border-bottom: solid 1px;
}

.main-page.stats-page > .user-stats > .column > .item.download-button{
    border-bottom: solid 1px transparent;
}